// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #EC8B00;
$secondary: #101920;

$accent: #343434;
$fondo: #fff;

$primary-1: #F8D5A3;
$primary-2: #998364;
$primary-5: #EC8B00;
$primary-9: #7B4121;

$grey-1: #F6F6F6;
$grey-3: #EDEDED;
$grey-5: #E5E5E5;
$grey-6: #A9ACAF;
$grey-7: #9C9C9C;
$grey-9: #5C6367;
$grey-10: #525252;
$grey-14: #06090C;

$success: #038500;
$success-1: #D4E5D3;

$error-1: #EDBEBE;

$red: #EC0000;


$dark: #000;
$dark-page: #121212;

$positive: #038500;
$negative: #EC0000;
$info: #31ccec;
$warning: #f2c037;

$ap-primary: #101920;
$ap-primary-light: #5a99bc;
$ap-primary-dark: #00405f;

$ap-secondary: #4c6875;
$ap-secondary-light: #58a8da;
$ap-secondary-dark: #004d79;

$ap-third-sky-blue: #0181b0;
$ap-third-dark: #222222;
$ap-third-lite: #e0edf5;

$ap-complementary: #cecfc9;
$ap-light: #efefef;
